# Files to ignore
# https://gist.github.com/adcreare/00a10f389841dd4c97197608c9b33a7f
# npm version [#].[#].[#]
# Use `npm publish --access=public --tag latest ./ --dry-run` to check which files will be published
/coverage
/node_modules
/examples
.github
tsconfig.json
# Still experimental
testing.ts
tests/*
plugins/*
jest.*
.*
