# Files to ignore
# https://gist.github.com/adcreare/00a10f389841dd4c97197608c9b33a7f
# npm version [#]-beta.[#]
# Use `npm publish --access=public --tag beta ./ --dry-run` to check which files will be published
/coverage
/node_modules
.github
tsconfig.json
# Still experimental
volts.min.js
testing.ts
tests/*
plugins/*
jest.*
.*